*{
    margin:0px;
    padding:0px;
    
}

:root { /*Variables de diseño*/
    
/* Colors: */
--mostaza: #D9C938;
--blanco: #FFFFFF;
--magenta: #D938C4;
--azul: #388ED9;
--gris: #707070;
--gris-medio: #E9E5E5; 
--negro: #1A171A;
    
/* Font/text values */
--font-family-titulars: Bebas Neue;
--font-family-subtitols: Caviar Dreams;
--font-family-normal: Roboto;
--font-size-petita: 10px;
--font-size-normal: 12px;
--font-size-subtitol: 15px;
--font-size-h4: 16px;
--font-size-h3: 18px;
--font-size-h2: 20px;
--font-size-h1: 24px;
--line-spacing-petit: 15px;
--line-spacing-normal: 16px;
--line-spacing-gran: 20px;
--line-spacing-extra-gran: 27px;
--line-spacing-h1: 30px;
}

/*variables de estructura*/
/*En tablet y movil, los márgenes son estrechos*/
@media (max-width: 700px) {
:root{
--margin-left:5px;
--margin-right:5px;
--margin-top:10px;
    }
}

/*A partir de web, hacemos más pronunciados los márgenes*/
@media (min-width: 700px) {
:root{
--margin-left:100px;
--margin-right:100px;
--margin-top:20px;
    }
}
@media (min-width: 1000px) {
:root{
--margin-left:150px;
--margin-right:150px;
--margin-top:20px;
    }
}

/* Estilo del texto */
p{
font-family: var(--font-family-normal);
font-style: normal;
font-weight: normal;
font-size: var(--font-size-normal);
line-height: var(--line-spacing-normal);
letter-spacing: var(--character-spacing-0);
color: var(--negro);
}
.subtitulo{
font-family: var(--font-family-subtitols);
font-style: normal;
font-weight: normal;
font-size: var(--font-size-subtitol);
line-height: var(--line-spacing-petit);
color: var(--negro);
}
h1{
font-family: var(--font-family-titulars);
font-style: normal;
font-weight: normal;
font-size: var(--font-size-h1);
line-height: var(--line-spacing-h1);
color: var(--negro);
padding-bottom:15px;
padding-top:7px;
}
h2 {
font-family: var(--font-family-titulars);
font-style: normal;
font-weight: normal;
font-size: var(--font-size-h2);
line-height: var(--line-spacing-extra-gran);
color: var(--negro);
}
h3{
font-family: var(--font-family-titulars);
font-style: normal;
font-weight: normal;
font-size: var(--font-size-h3);
line-height: var(--line-spacing-extra-gran);

color: var(--negro);
}
h4{
font-family: var(--font-family-titulars);
font-style: normal;
font-weight: normal;
font-size: var(--font-size-h4);
line-height: var(--line-spacing-extra-gran);
letter-spacing: var(--character-spacing-0);
color: var(--negro);
}
.filtres {
font-family: var(--font-family-titulars);
font-style: normal;
font-weight: normal;
font-size: var(--font-size-petita);
line-height: var(--line-spacing-gran);
color: var(--negro);
}
.form_labels {
font-family: var(--font-family-titulars);
font-style: normal;
font-weight: normal;
font-size: var(--font-size-normal);
line-height: var(--line-spacing-extra-gran);
color: var(--negro);
}
.form_text {
font-family: var(--font-family-subtitols);
font-style: italic;
font-weight: normal;
font-size: var(--font-size-petita);
line-height: var(--line-spacing-petit);
color: var(--gris);
}
.preu{
font-family: var(--font-family-titulars);
font-style: normal;
font-weight: normal;
font-size: var(--font-size-h1);
line-height: var(--line-spacing-h1);
color: var(--negro);
text-decoration: underline;

}
.etiqueta {
font-family: var(--font-family-titulars);
font-style: normal;
font-weight:normal;
font-size: var(--font-size-h2);
line-height: var(--line-spacing-extra-gran);
color: var(--magenta);
background-color: var(--blanco);
padding: 2px;
}

.titular{
font-family: var(--font-family-titulars);
font-style: normal;
font-weight: normal;
font-size: var(--font-size-h3);
line-height: var(--line-spacing-extra-gran);
color: var(--blanco);

}
.titular_equip{
font-family: var(--font-family-titulars);
font-style: normal;
font-weight: normal;
font-size: var(--font-size-h2);
line-height: var(--line-spacing-extra-gran);
color: var(--magenta);
}

/*========================================================
/*MODIFICADORES para ocultar elementos de la página, solo visibles en versiones escritorio y tablet */
/*=======================================================*/
.tablet-show{
    display: none;
}
.desktop-show{
    display: none;
}
.big-desktop-show{
    display:none;
}

/****************************************************************************************
/* CSS layout  y secciones comunes en todas las páginas*/
/****************************************************************************************/
.page{    
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position:relative;
}
.clearfix{ /*Clase para DIVs de control de flujo de cajas*/
    clear:both;
}

.linea{
  border: 1px solid var(--negro);  
  width: 100%;
  margin-top: 1px;
  float:left;
  clear:both;
}
.linea-vertical {
  display:none;
    
}
article{
    width: 100%;
    float:right;
}
.col-2{
    width:50%;
    float:left;
    box-sizing: border-box;
    
}

/* HEADER */
/*===========*/
header{
    width: 100%;
    height:100px;
    padding-bottom:10px;
    top:0px;
    right:0px;
    float: right;
    box-sizing: border-box;
    border-bottom: var(--negro) 1.3px solid;
    position: relative;
}
header::after{
    content: '';
    display: block;
    clear: both;
}

.logo { 
    width: 75px;
    height:75px;
    margin-left:var(--margin-left);
    margin-top:var(--margin-top);
    top:0;
    left:0; 
    position:absolute;
    background-image: url("../img/logo_petit.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size:contain;
}

/* Menú de navegación DESTACADOS*/
/*===================*/
/*Es visible en todas las visualizaciones de pantalla (movil, desktop, tablet i big-desktop)*/
.menu_destacats{    
    width: 297px;
    height: 100px;
    margin-right: var(--margin-right);
    top:0;
    right:0;
    z-index:1;
    position: fixed;
}
.menu_destacats ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu_destacats li{
    float: right;
    width:80px;
}

.menu_destacats li a{
  display: block;
  text-decoration: none;

}
.menu_destacats a.img1{ 
    width:99px;
    height:100px;
    background-position: 0 0;
    background-image: url("../img/bt/adopcio.png");
    background-repeat: no-repeat;
    float:right;  
}
.menu_destacats a.img2{  
    width:99px;
    height:100px;
    background-image: url("../img/bt/voluntariat.png");
    background-repeat: no-repeat;
    float:right;  
}
.menu_destacats  a.img3{  
    width:99px;
    height:100px;
    background-image: url("../img/bt/botiga.png");
    background-repeat: no-repeat;
    float:right;  
}
.menu_destacats a.img1:hover {
    background-image: url("../img/bt/adopcio_hover.png");
    background-repeat: no-repeat; 
}
.menu_destacats a.img2:hover{
    background-image: url("../img/bt/voluntariat_hover.png");
    background-repeat: no-repeat;
}
.menu_destacats a.img3:hover{
    background-image: url("../img/bt/botiga_hover.png");
    background-repeat: no-repeat;
}


/* Menú de navegación PRINCIPAL*/
/*========================*/
/* no es visible en móvil (sólo en tablet y desktop*/
.menu_principal {
    display: none;
}
/*-->Fin header*/

/*Main Home*/
/*==========================================*/
main{
    margin-left:var(--margin-left);
    margin-right:var(--margin-right);
}

/* CSS Página principal*/
/*=========================================*/
.hero{ /*Hero principal*/
    width: 100%;
    height:450px;
    position: relative;
}
.hero::after{
    content: '';
    display: block;
    clear: both;
}

.hero img {
    width: 100%;
    height: 450px; 
    position: absolute;
    object-fit:cover;
}
.hero-contenidor{
    width:50%;
    height:450px;
    position:absolute;
    right:0;
    margin-right:var(--margin-right);
  
}

.hero-contenidor-controls {
    height:450px;
    position:relative;
    float:right;
    width:1em;
}
.hero-contenidor-controls::after {
    content: '';
    display: block;
    clear: both;
}
.hero-contenidor-controls .items{
    position: absolute;
    top:10em;
    left:0;  
}

.hero-contenidor-controls a{
    width:0.7em;
    height:0.7em;
    margin-bottom:1em;
    border-radius: 50%;
    border:solid 1px  var(--negro);
    background-color: var(--blanco);
    float: right;
    clear:right;
}
.hero-contenidor-controls a.active{
    background-color: var(--magenta);
}

.hero-contenidor-controls a:hover{
    background-color: var(--magenta);
}

.hero-contenidor-text {
    width: 90%;
    height:450px;
    position:relative;
    float:left; 
}
.hero-contenidor-text::after {
    content: '';
    display: block;
    clear: both;
}
.hero-contenidor-text-text{
    position:absolute;
    top:10em;
    right:0;
    background-color: var(--gris-medio); 
    padding:1em;
    opacity: 0.75;
}

.hero-contenidor-text-boto {    
    border-radius:10px;
    position:absolute;
    right:0;
    bottom: 5em;
    background-color: var(--negro);
    width:6em;
    height:1.5em;
    text-align: center;
    padding: 0.2em;        
}
.hero-contenidor-text-boto a {
    color:var(--blanco);
    text-decoration: none;        
}
.hero-contenidor-text-boto:hover {
    background-color: var(--magenta);       
}
/*-->Fin HERO */

/*-->Secciones de página--*/
.animals_home, .animals, .noticies, .publicitat, .refugi, .equip{ 
    
}
.animals_home-text, .animals-text, .noticies-text, .publicitat-text, .formulari-text, .ubicacio-text, .refugi-text, .equip-text, formulari_filtres-text{
    float:left;
    width:100%;
    margin: 2em 0 1em 0;
}

.animals_home-article, .animals-article, .refugi-article{
    width:100%;
    height:174px;
    position:relative;
    box-sizing: border-box;
}

.equip-article{
    width:160px;
    height:355px;
    position:relative;
    border-radius: 4%;
    border: 1px var(--negro) solid;
    margin-bottom: 2em;
    box-sizing: border-box;
    
}
.animals_home-article::after, .animals-article::after, .refugi-article::after, .equip-article::after{
    content: '';
    display: block;
    clear:both;
}


.animals_home-article-etiqueta, .animals-article-etiqueta{
    position:absolute;
    top:0.5em;
    left:0.5em;
    width:auto;
    height:auto;
    
    
}
.animals_home-article-img, .animals-article-img, .refugi-article-img {
  top:0;
  left:0;
  width:100%;
  height:174px;
  position:absolute;
  object-fit:cover;
  border: 1px var(--negro) solid;
}
.equip-article-img {
  width:134px;
  height:134px;
  margin:1em auto;
  border-radius:80%;
  border:1px solid var(--negro);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.equip-article-img.img1{
 background-image: url("../img/equip/equip1.jpeg");
}
.equip-article-img.img2{
 background-image: url("../img/equip/equip2.jpeg");
}
.equip-article-img.img3{
 background-image: url("../img/equip/equip3.jpeg");
}
.equip-article-img.img4{
 background-image: url("../img/equip/equip4.jpeg");
}

.equip-article-titular{
    width:100%;
    text-align: center;
}
.equip-article-text{
    width:100%;
    padding:1em;
    height:150px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow:hidden;
}
.animals_home-article-text{
    position:absolute;
    bottom:1em;
    padding: 0.5em;
    left:20px;
    right:20px;
    height:26%;
    border:solid 1px var(--negro);
    background-color: var(--blanco);
    opacity: 0.75;
    text-overflow: ellipsis;
    overflow: hidden;
}

.noticies-article{
    width:100%;
    height:174px;
    position:relative;
    border:0;
}

.noticies-article::after{
    content: '';
    display: block;
    clear:both;
}

.noticies-article-text{
    position:absolute;
    padding: 0.2em;
    height:75px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.noticies-article-img{
  top:0;
  left:0;
  width:50%;
  height:174px;
  border: 1px solid var(--negro);
  position:absolute;
  object-fit:cover;
}

.noticies-article img{
    width:50%;
    border: 1px solid var(--negro);
}
.noticies-article-contenidor{
    width:calc(50% - 2em);
    position:relative;
    height:174px;
    left:50%;
    margin-right:0.7em;
    margin-left:0.7em;
}
.noticies-article-etiqueta{  
    padding:0em 0.2em 0 0.2em;
    background-color:var(--gris);    
}

.noticies-article-boto{
    position:absolute;
    bottom:1em;
    right:0;
    width: 75px;
    height:25px;  
}
.noticies-article-boto a{
    width:90px;
    height:30px;
    background-position: 0 0;
    background-image: url("../img/bt/bt_llegir.svg");
    background-repeat: no-repeat;
    float:right;  
}
.noticies-article-boto a:hover{
    background-image: url(../img/bt/bt_llegir_hover.svg);
}

.animals-article-contenedor-text, .refugi-article-contenedor-text{
    float:left;
    height:90px;
    margin-top:0.2em;
    margin-bottom:0.2em;
    padding:0.5em;
    text-overflow: ellipsis;
    overflow: hidden;
}
.animals-article-icono a{
    margin-top:2em;
    width:42px;
    height:42px;
    background-position: 0 0;
    background-image: url("../img/bt/bt_visualitzar.svg");
    background-repeat: no-repeat;
    position: absolute;
    bottom:1em;
    right:1em;  
}
.animals-article-icono a:hover{
    background-image: url("../img/bt/bt_visualitzar_hover.svg");
}

.publicitat-hero{ /*Banner publicitario*/
    width: 100%;
    height:200px;
    position: relative;
    border:solid 1px;
    float:left;
}
.publicitat-hero::after{
    content: '';
    display: block;
    clear: both;
}
.publicitat-hero-img{
    width:100%;
    height:200px;
    width: 100%;
    position: absolute;
    object-fit:cover;
}

.publicitat-hero-contenidor{
    width:90%;  
    position:absolute;
    right:1em;
}
.publicitat-hero-contenidor-text {
    width: 70%;
    height:200px;
    position:relative;
    float:right;  
}
.publicitat-hero-contenidor-text::after {
    content: '';
    display: block;
    clear: both;
}
.publicitat-hero-contenidor-text-boto {
    border-radius:10px;
    position:absolute;
    right:0;
    bottom: 1em;
    background-color: var(--negro);
    width:6em;
    height:1.5em;
    text-align: center;
    padding: 0.2em;  
}



.publicitat-hero-contenidor-text-boto a{
    color:var(--blanco);
    text-decoration: none;
}
.publicitat-hero-contenidor-text-boto:hover {
    background-color: var(--magenta); 
}
.publicitat-hero-contenidor-text-text{
    position:absolute;
    top:1em;
    right:0;
    background-color: var(--gris-medio); 
    padding:1em;
    opacity: 0.75;
}





/*Formularis contacte i filtres*/
/*=====================================================*/
.formulari{
 width:100%;
   
}

.formulari input[type=text], select, textarea{
  width: 100%;
  padding: 5px;
  border: 1px solid var(--negro);
  border-radius: 4px ;
  box-sizing: border-box;
  box-shadow: 10px 5px 5px var(--gris-medio);
  resize: vertical;
}
.formulari input[type=checkbox]{
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  
}

.formulari input[type=submit] {
  
  border-radius:10px;
  background-color: var(--negro);
  width:6em;
  height:1.5em;
  text-align: center;     
  float:right;
  color: var(--blanco);  
  cursor: pointer;
  border:none;
}
.formulari input[type=submit]:hover {
  background-color: var(--magenta);
}

label {
  padding: 5px 5px 5px 0;
  display: inline-block;
}
.formulari-contenidor {
 width:100%;
 height:298px;
 float:left;
 background-image: url("../img/bt/marca_aigua.svg");
 background-repeat:no-repeat;
 background-position:center;
 background-size:cover;   
 padding:1em;
 box-sizing: border-box;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 5px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 5px;
}

.row{
    margin-left:5px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}


.column{
    width:33.33%;
    border-left:1px solid var(--negro);
    position:relative;
    float:left;
    box-sizing: border-box;
}
.column::after{
   content: "";
  display: block;
  clear: both;    
}

.column.no-border{
    border:none;
}
.formulari_filtres-ordre{
    width:50%;
    float:right;
    padding-top:1.2em;
    padding-bottom:1.2em;   
    box-sizing: border-box;
    
}

/*-- Ubicació (només imatge)--*/
.ubicacio{
 width:100%;
}

.ubicacio-contenidor{
    float:right;
    position:relative;
    width:100%;
}
.ubicacio-contenidor::after{
    content:'';
    display: block;
    clear: both;
}
.ubicacio-contenidor-img{
    width:100%;
    height:298px;
    object-fit: contain;
}

/*--botonera de publicitat--*/
.botonera{
    width: 100%;
    margin-top:2em;
}


.botonera-contenidor{
    width: 50%;
    height: 50%;
    float:right; 
    position: relative;
}
.botonera-contenidor::after{
    content:'';
    display: block;
    clear: both;
}
.botonera-contenidor-img{
    object-fit:contain;
 
}
.botonera-contenidor-text{
    position:absolute;
    background-color: var(--negro);
    width:60%;
    height:40%;
    left:20%;
    bottom:30%;
}
.botonera-contenidor-text h3{
    font-size: var(--font-size-normal);
    margin:10%;
    padding:0;

}
.botonera-contenidor-text a{
    text-decoration: none;
}

.botonera-contenidor-text h3{
    color:var(--blanco);
    text-decoration: none;
    text-align:center;
    
}
.botonera-contenidor-text:hover{
   transform:scale(1.5);
  
}
/*-->Footer-----*/
/*=======================================================*/
footer{
   width:100%;
}
/*---Xarxes-----*/
.xarxes{
    width:100%;
    text-align: center;
    margin-top:2em;
    margin-bottom: 2em;
}
.xarxes-contenidor{
    display:inline-block;
}

.xarxes-contenidor img:hover{
    transform:scale(1.2);
}
/*----Crédits----*/
.footer-contenidor{
    width: 100%;
    background-color: var(--negro);
    
}
.footer-contenidor ul{
    text-align: center;
    padding: 0px;
    margin:0px;           
}
.footer-contenidor ul li{
    display:inline-block;
    padding:1em;
    font-family: var(--font-family-titulars);
}
.footer-contenidor ul li a{
    color:var(--blanco);
    text-decoration: none;
}
.footer-contenidor ul li a:hover{
    color:var(--magenta);
    text-decoration: underline;
}


/*/CSS propio de la PÁGINA PELUDOS////////////////////////////////*/
.formulari_filtres{
    width:100%;
    float:left;
}
.formulari_filtres-contenidor{
    background: none;
    width:100%;
    float:right;
    box-sizing: border-box;
    border: 1px solid var(--negro);
}
.formulari_filtres-boto{
    float:left;
    padding:1.2em;
    width:128px;
    height:42px;
    background-image: url(/img/bt/bt_filtres.svg);
    background-repeat: no-repeat;
    background-position: center;
    border:0;
}

.formulari_filtres-boto:hover {
  background-image: url(/img/bt/bt_filtres_hover.svg);
}

/* Paginación --------------------*/
.paginacio{
    width: 100%;    
}
.paginacio-botonera{
    width:152px;
    height:20px;
    margin:2em auto 2em auto;    
    background-image: url("../img/bt/bt_paginas.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size:contain;
}
/* CSS pàgina PRODUCTES**********************************/

.producte{
 box-sizing: border-box;
}

.producte-fotos{
    width:50%;
    float:left;
    box-sizing: border-box;
    
}

.producte-fotos-principal{
    width:90%;
    float:left;
    padding-bottom: 1em;
  
}
.producte-fotos-principal img {
  object-fit:cover;
  height:300px;
    
}
.producte-fotos-secundaries{
    width:90%;
    float:left;
    
}

.producte-fotos-secundaries img {
  object-fit:cover;
  width: 33.33%;
  margin-left:5px;
    float:right;
    
}
.producte-fotos-control{
    width:10%;
    float:right;

    position: relative;
}
.producte-fotos-control::after {
    content: '';
    display: block;
    clear: both;
}

.producte-fotos-control .items {
    position: absolute;
    bottom:1em;
    right:0;  
}

.producte-fotos-control .items a{
    width:0.7em;
    height:0.7em;
    margin-bottom:1em;
    border-radius: 50%;
    border:solid 1px  var(--negro);
    background-color: var(--blanco);
    float: right;
    clear:right;
}
.producte-fotos-control .items a.active{
    background-color: var(--magenta);
}

.producte-fotos-control .items a:hover{
    background-color: var(--magenta);
}

.producte-descripcio{
    width:50%;
    float:left;
    box-sizing: border-box;
    
}

.producte-descripcio-text{
    padding: 1em;
}

.producte-descripcio-preu{
    text-align: right;
    width:100%;
}
.producte-descripcio-boto{
    width: 100%;
}
.producte-descripcio-boto a{
    margin-top:2em;
    width:102px;
    height:42px;
    background-position: 0 0;
    background-image: url("../img/bt/bt_comprar.svg");
    background-repeat: no-repeat;
    float:right;  
}
.producte-descripcio-boto a:hover{
    background-image: url(../img/bt/bt_comprar_hover.svg);
}

.productes_relacionats{   
}

.productes_relacionats-text{   
    float:left;
    width:100%;
    margin: 2em 0 1em 0;
}
.productes_relacionats-columna{    
    width:50%;
    box-sizing: border-box;
    float:left;
    padding-right:0.2em;
}
.productes_relacionats-imatge{
    width:100%;
    height:174px;
    position:relative;
    border: 1px var(--negro) solid;
}   
.productes_relacionats-imatge:hover{
    content: '';
    display: block;
    clear:both;
}
.productes_relacionats-imatge img{
  top:0;
  left:0;
  width:100%;
  height:174px;
  position:absolute;
  object-fit:cover;
}
.productes_relacionats-boto a{
    margin-top:2em;
    width:42px;
    height:42px;
    background-position: 0 0;
    background-image: url("../img/bt/bt_visualitzar.svg");
    background-repeat: no-repeat;
    position: absolute;
    bottom:1em;
    right:1em;  
}
.productes_relacionats-boto a:hover{
    background-image: url("../img/bt/bt_visualitzar_hover.svg");
}

.productes_relacionats-text_descripcio{
    float:left;
    height: 32px;
    margin-top:0.2em;
    margin-bottom:0.2em;
    text-overflow:ellipsis;
    overflow:hidden;
}
.productes_relacionats-preu{
    position: absolute;
    bottom:1em;
    left:1em;
    padding:0.3em;
    background: var(--blanco);
}

/* MEDIA QUERIES */
/*====================================================*/

/*---TABLET---*/
@media  (min-width: 480px) {
/* MODIFICADORES: Mostramos aquel código que en móvil habíamos ocultado */
.tablet-show{
    display: block;
}

article{  
    width:50%;
    float:right;
}

.formulari{
width:calc(50% - 30px);
float:left;

}
.ubicacio{
 float:right;
 width:calc(50% - 10px);
}

.linea-vertical { /*sólo mostramos la linia de separación en las dos columnas*/
  
  border-right: 1px solid var(--negro);
  height: 298px;
  padding:10px;
  margin-top:50px;
  margin-bottom:25px;
  float:left;
    
}
    
header{ 
    height:180px; /*Como mostramos el menú principal ampliamos el header*/
}
.logo { 
    width: 175px;
    height:75px;
    background-image: url("../img/logo.svg");
}  

    /*Menú principal*/
.menu_principal{
    position:absolute;
    right:0;
    bottom:0;
    margin-right: var(--margin-right);
    margin-left: var(--margin-left);
} 
.menu_principal ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}
.menu_principal li{   
    float:left;
}
.menu_principal li a{
    display:block;
    color: var(--negro);
    text-align: center;
    text-decoration: none;
    font-family: var(--font-family-titulars);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-h1);
    line-height: 32px;
    letter-spacing: var(--character-spacing-0);
    color: var(--negro);
    padding:7px;
}
.menu_principal a:hover {
  text-decoration: underline var(--magenta);
  text-underline-offset: 8px;
}
.menu_principal a:active {
    color: var(--magenta);
    text-decoration: none;
}

.productes_relacionats-columna{    
    width:33.33%;    
    }
    
.botonera-contenidor-text h3{
    font-size: var(--font-size-h3);
    }
}

/*----Desktop----*/
/*==============================================================*/
@media screen and (min-width: 1000px){
.desktop-show{
    display: block;
}
article{  
    width:calc(33.33% - 4px);
    margin:2px;
}  
.botonera-contenidor{
    width: calc(25%);
    height: calc(25%);
    float:left;
    }
    
.column{
   width:33.33%;
}

.col-2{
    box-sizing: border-box;
    width:24%;
    float:left; 
}

.productes_relacionats-columna{    
    width:24.3%;    
}
}

    
/*----BIG DESKTOP-----*/ 
/*================================================================*/
@media (min-width: 1200px){
.big-desktop-show{
	display:block;
}
    
.hero img{
    width:60%;
    background-size:800px auto; /*el hero tiene este máximo de imagen, para que no se deforme en exceso en pantallas grandes*/
    }    
}
